#admin {
	margin: auto;
	padding: 15px;
	background-color: var(--black-075);

	width: max-content;
	max-width: 80vw;
	min-width: 50vw;

	/* font-size: 20px; */
}

#question-navigator {
	display: flex;
	flex-direction: row;
	margin: 20px min(20px, 3vw);

	min-width: 50vw;
	width: 75vw;
}

#question-card {
	padding: 10px min(20px, 2vw);
	min-width: 45vw;
	width: 50vw;
	min-height: 250px;
	font-size: min(20px, 4.5vw);
	display: flex;
	align-items: center;
	justify-content: center;
}

#question-card > p {
	width: 100%;
}

#question-card span {
	color: var(--red);
}

#users-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center
}

.user-card {
	display: flex;
	flex-direction: row;
	width: min(80vw, 420px);
	padding: 20px;
	background-color: var(--black-100);
	margin: 10px;
	border: solid 2px var(--red);
}

.user-card > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}

.user-card img {
	width: min(45vw, 200px);
}

.user-card p {
	margin: 10px;
}

.user-card span {
	color: var(--red);
}

.user-card > div > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.user-card button {
	margin: 10px;
	font-size: min(4vw, 18px);
}
