:root {
	--black-100: #070707;
	--black-075: #070707C0;
	--black-050: #07070780;
	--black-025: #07070740;

	--red: #D70000;
	--white: #EAEAEA;
}

@font-face {
	font-family: 'Digital Numbers';
	src: url('/fonts/digital-7.ttf');
}

@font-face {
	font-family: 'Jura';
	src: url('/fonts/Jura-Medium.ttf');
}


* {
	transition: 0.3s ease;
	/* z-index: 1; */
	color: var(--white);
	font-family: 'Jura';
}

body {
	min-width: 100vw;
	min-height: 100vh;

	margin: 0px;
	padding: 0px;

	background-image: url('/background.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

nav, footer {
	height: 120px;
	padding: 0px 2vw;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: var(--black-100);
}

nav {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
}

#main {
	margin: 20px 5vw;
	min-height: calc(100vh - 280px);
}
