:root {
	--black-100: #070707;
	--black-075: #070707C0;
	--black-050: #07070780;
	--black-025: #07070740;

	--red: #D70000;
	--white: #EAEAEA;
}

@font-face {
	font-family: 'Digital Numbers';
	src: url('/fonts/digital-7.ttf');
}

@font-face {
	font-family: 'Jura';
	src: url('/fonts/Jura-Medium.ttf');
}


* {
	transition: 0.3s ease;
	/* z-index: 1; */
	color: var(--white);
	font-family: 'Jura';
}

a, a:visited {
	color: var(--red);
}

a:hover {
	color: var(--white) !important;
}

body {
	width: 100vw;

	margin: 0px;
	padding: 0px;

	background-image: url('/background.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

nav, footer {
	height: 120px;
	padding: 0px 2vw;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: var(--black-100);
}

nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
}

button {
	display: block;
	background-color: var(--black-100);
	color: var(--red);
	text-decoration: none;
	text-align: center;
	
	font-size: min(5vw, 24px);
	padding: 12px;
	border: 0px;
	margin: 10px auto;

	box-shadow: inset -1px -1px 3px 1px var(--red);
}

button.light {
	color: var(--black-100);
	background-color: var(--red);

	box-shadow: inset -1px -1px 3px 1px var(--black-075);
}

button:hover {
	text-shadow: 0px 0px 4px #ca2727;
	color: var(--black-075);
	background-color: var(--red);
	box-shadow: 1px 1px 5px 2px var(--red);
}

button.light:hover {
	text-shadow: 0px 0px 4px #ca2727;
	background-color: var(--black-075);
	color: var(--red);
	box-shadow: 1px 1px 5px 2px var(--red);
}

#main {
	width: 100vw;
	margin: 20px auto;
	min-height: calc(100vh - 280px);
}
